/*
     STYLE
*/
@import 'sidebar.css';
@import 'navbar.css';
@import 'content.css';

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


img, svg {
    vertical-align: 0;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.daftar {
    height: 312px;
    overflow: auto;
    font-size: 13px;
}




